.result {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.result__link a {
    color: black;
    font-weight: 300;
    font-size: 14px;
}
.result__title {
    color: rgb(0, 82, 177);
    font-size: large;
    cursor: pointer;
}